!!!
%html
  %head
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %title= @page_title || "Page Title"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body.bp.two-col
    #container
      #header
        Web Site
      #sidebar
        = render :partial => 'shared/sidebar'
      #content
        = render :partial => 'shared/flashes'
        = yield
        = render :partial => 'shared/javascript'
      #footer
        = render :partial => 'shared/footer'
